<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="icon" type="image/png" href="static/favicon.ico" />

        <!-- Fontawesome -->
        <link rel="preload" href="../static/lib/fontawesome/fonts/fontawesome-webfont.woff2?v=4.7.0" as="font" crossorigin="">
        <link rel="stylesheet" type="text/css" href="../static/lib/fontawesome/css/font-awesome.css"/>
        <!-- Bootstrap -->
        <link rel="stylesheet" type="text/css" href="../static/lib/bootstrap/css/bootstrap.css"/>
        <script type="text/javascript" src="../static/lib/popper/popper.min.js"></script>
        <script type="text/javascript" src="../static/lib/bootstrap/js/bootstrap.js"></script>

        <script type="text/javascript" src="../static/lib/owl/owl.js"></script>
        <link rel="stylesheet" type="text/css" href="../static/app/app.css" />
    </head>
    <body>
    </body>
    <footer>
        <!-- TODO: MSH: Instead of defining files here, python itself add lib and js files using asset bundle
            or maybe use somehing like webpack -->
        <script type="module" src="static/screens/shopScreen/shop_screen.js"></script>
        <script type="module" src="static/screens/productDetailsScreen/product_details_screen.js"></script>
        <script type="module" src="static/app/app.js"></script>
        <!-- TODO: MSH: Load files here instead of import...from load files -->
    </footer>
</html>